body {
    margin: 0%;
    font-family: cursive;
    background-image: url('img/floresta.jfif');
    background-size: 100vw;
}

#fazendaBody {
    background-image: url('img/fazenda.jpg');
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: sans-serif;
}

header {
    background-color: green;
    margin-top: 0%;
}

#TitPrin {
    margin-top: 0%;
    font-size: 4em;
    color: black;
}

#titulo {
    background-image: url('img/floresta.jfif');
    background-size: 100vw;
    width: 80vw;
    margin: auto;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.6);
}

nav {
    border-radius: 5vh;
}

nav ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.navFlex {
    display: flex;
}

.navFlex a {
    flex: 1;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.navFlex a img {
    width: 5vw;
}

.navFlex li {
    padding: 0.75vh;
    text-align: center;
}

.navFlex a:hover {
    text-decoration: underline;
}

section {
    margin: 1vw;
    padding: 1vh;
    background-color: white;
    height: 100vh;
}

aside {
    border-radius: 5vh;
}

section h2 {
    font-size: 3em;
}

section h3 {
    font-size: 2em;
}

section p {
    font-size: 1.25em;
    text-align: justify;
}

#carlos {
    text-align: center;
    font-size: 1.75em;
}

section img {
    width: 30em;
    display: block;
    margin: auto;
}

li {
    text-align: justify;
    font-size: 1.2em;
}

.fazenda {
    display: flex;
    gap: 1vh;
    margin-top: 1vh;
}

.fazenda section, .fazenda aside {
    border: 0.5vh solid rgb(158, 158, 158);
    padding: 1.5vh;
    flex: 1;
}

.fazenda section {
    flex: 2;
}

footer {
    background-color: rgb(150, 192, 140);
    font-family: sans-serif;
    padding: 0.7vw;
}