body {
    font-family: cursive;
    background-image: url('img/floresta.jfif');
    background-size: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: sans-serif;
}

.titulo {
    
    background-color: rgba(255, 255, 255, 0.6);
    
}

#TitPrin {
    font-size: 4em;
}

nav ul {
    list-style-type: none;
    border: 0.1vh solid black;
    padding: 0%;
}

.navFlex {
    display: flex;
}

.navFlex a {
    flex: 1;
    border: 0.1vh solid black;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: white;
    font-size: 1.5em;
}

.navFlex li {
    padding: 0.75vh;
}

.navFlex a:hover {
    background-color: rgb(153, 214, 166);
}

section {
    border: 0.3vh solid black;
    padding: 1vh;
    background-color: white;
}

section h2 {
    font-size: 3em;
}

section h3 {
    font-size: 2em;
}

section p {
    font-size: 1.25em;
    text-align: justify;
}

section img {
    width: 20vw;
    display: block;
    margin: auto;
}

li {
    text-align: justify;
    font-size: 1.2em;
}

.fazenda {
    display: flex;
    gap: 1vh;
    margin-top: 1vh;
}

.fazenda section, .fazenda aside {
    border: 0.5vh solid rgb(158, 158, 158);
    padding: 1.5vh;
    flex: 1;
}

.fazenda section {
    flex: 2;
}

footer {
    background-color: rgb(52, 82, 59);
    color: white;
    font-family: sans-serif;
    margin-top: 1vh;
    padding: 0.7vw;
}